body {
	background-color: #EDEDED;
}

#navigation {
	background-color: #00BCD4;
}

nav #logo {
	position: absolute;
	color: #FFFFFF;
}

nav #nav-buttons {
	float: right;
} 

#rotating-banner {
	height: 600px;
	width: 100%;
	position: relative;
}

#rotating-banner h5 {
	color: #eeeeee !important;
	font-weight: 300;
}

.content-width {
	margin: auto;
	max-width: 1366px;
	width: 90%;
}

#footer {
	background-color: #00BCD4;
}li .caption.center-align .light {
}
